[submodule "Artificial-Inteligence-SearchAlgorithms/Atividade"]
	path = Artificial-Inteligence-SearchAlgorithms/Atividade
	url = https://github.com/PatrickSilvaMenezes/Artificial-Inteligence-Activities.git
